.wrapper {
    display: flex;
    flex-direction: column;
    // căn theo chiều dọc
    align-items: center;
    // căn giữa
}

.container {
    width: 1150px;
    display: flex;
}

.content {
    flex: 1;
}
